<h1>{{title}}</h1>
<table border=1>
	<tr>
		<th>Symbol Key</th>{{#with}}<th>Sutton PNG</th>{{/with}}<th>SVG Refinement</th>{{#fonts}}<th>TrueType Font<br>SignWriting 2010 {{font}}</th>{{/fonts}}
	</tr>
	{{#rows}}
	<tr>
		<td valign="top"><a name="{{key}}" href="#{{key}}">{{key}}</a></td>
		{{#with}}<td><img src="{{image}}/glyph.php?key={{key}}&size={{size}}"></td>{{/with}}
		<td><img src="{{asset}}/api/symbol/{{size}}/{{key}}"></td>
		{{#fonts}}<td><span class="{{abbr}}">{{text}}</span></td>{{/fonts}}
	</tr>
	{{/rows}}
</table>
